beautifulsoup4==4.10.0
copydetect==0.4.6
GitPython==3.1.40
Pillow==10.1.0
pydub==0.25.1
PyGithub==2.1.1
pytesseract==0.3.10
Requests==2.31.0
spacy==3.7.2
SpeechRecognition==3.8.1
svn==1.0.1
tqdm==4.61.2
trafilatura==1.4.1
validators==0.20.0
